.habit-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.habit-list li {
  background-color: #e0e0e0;
  padding: 20px;
  margin: 20px auto; /* auto로 양쪽에 균등한 여백을 추가 */
  border-radius: 20px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%; /* 가로 길이를 80%로 설정 */
}

.habit-list li.completed {
  background-color: #a5d6a7;
}

.habit-list li:hover {
  background-color: #81c784;
}
