.both-sides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-title {
  font-size: 28px;
  font-weight: bold;
}

.current-time {
  font-size: 18px;
  font-weight: 400;
  color: #818181;
  margin-bottom: 8px;
}

.time-block {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  border-radius: 50px;
  width: 190px;
  height: 35px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #414141;
}

.menu-focus {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 15px;
  width: 144px;
  height: 48px;
  cursor: pointer;
  margin: 0 20px;
  font-size: 16px;
  font-weight: 500;
  color: #818181;
}

.menu-home {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 15px;
  width: 82px;
  height: 48px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #818181;
}

.inner-container {
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px;
  border: 1px solid #dddddd;
}

/* 모바일 버전 스타일 */
@media (max-width: 720px) {
  .both-sides {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-focus {
    margin: 0;
    margin-top: 17px;
    margin-right: 8px;
  }

  .inner-container {
    margin-top: 24px;
    padding: 16px;
  }
}
