@import url("../../css/reset.css");

.todo-list {
  font-size: 30px;
  margin: 24px auto;
  text-align: center;
  position: relative;
}

.todo-list h2 {
  font-size: 24px;
  color: #414141;
  font-weight: 800;
}

.edit-button {
  color: gray;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 15px;
  margin-left: 92px;
  position: absolute;
  top: 2px;
  cursor: pointer;
}

.habit-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* 텍스트 가운데 정렬 */
}

.habit-list li {
  background-color: #eeeeee;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #818181;
  cursor: pointer;
  width: 400px;
  height: 54px;
  text-align: center;
}

.habit-list li.completed {
  background-color: #99c08e;
  color: #ffffff;
}

.no-habits {
  width: 100%;
  padding: 225px 0;
}

.no-habits p {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: #818181;
}

@media (max-width: 720px) {
  .edit-button {
    margin-left: 70px;
  }
  .no-habits p {
    font-size: 16px;
  }
}
