@import url("../../css/reset.css");

.todo-list {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  border: 20px;
  position: relative;
}

.todo-list h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  border: 20px;
}

.edit-button {
  color: gray;
  background-color: white;
  border: none;
  position: absolute;
  top: 5px;
  right: 180px;
  position: absolute;
  font-size: 15px;
  margin-right: 130px;
}

.habit-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.habit-list li {
  background-color: #e0e0e0;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
  text-align: center;
}

.habit-list li.completed {
  background-color: #a5d6a7;
}

.habit-list li:hover {
  background-color: #81c784;
}

.no-habits {
  width: 100%;
  height: 350px;
  padding-top: 220px;
}

.no-habits p {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: #818181;
}
