.habitContainer {
  margin-top: 40px;
  border: 1px solid #dddddd;
  border-radius: 20px;
  padding: 24px;
  width: 1152px;
  min-height: 511px;
}

.noneHabit {
  font-size: 16px;
  font-weight: 500;
  color: #818181;
  text-align: center;
  margin-top: 237px;
}

.habitText {
  font-size: 24px;
  font-weight: 800;
  color: #414141;
}

.date {
  font-size: 18px;
  font-weight: 400;
  color: #818181;
  text-align: center;
}

.date td {
  padding-bottom: 14px;
}

.habitTable {
  width: 100%;
  margin-top: 14px;
}

.habitName {
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  padding: 21.5px 24px;
  color: #414141;
  width: 246px;
  vertical-align: middle;
}

.habitCheck {
  padding: 14px 41px;
  height: 64px;
  vertical-align: middle;
}

.habitIcon {
  width: 36px;
  height: 36px;
}

@media (max-width: 1199px) {
  .habitContainer {
    margin-top: 24px;
    width: 648px;
  }

  .habitCheck {
    padding: 14px 13.5px;
  }
  .habitName {
    padding: 11px 24px;
  }
}

@media (max-width: 720px) {
  .habitContainer {
    margin-top: 24px;
    min-width: 312px;
    width: auto;
    overflow-x: auto;
  }

  .habitCheck {
    padding: 14px 14px;
  }
  .habitName {
    padding: 15px 10px;
  }
}
