@import '../../css/reset.css';

.text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 24px;
  color: #414141;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.container {
  position: relative;
  cursor: pointer;
}

.selectedIconBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 10px solid #99c08e;
  border-radius: 10%;
}
.iconImage {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(50%, 50%);
  display: flex;
  justify-content: center;
  text-align: center;
  object-fit: contain;
}

@media (max-width: 720px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .dropdownBackground {
    margin-left: 120px;
  }
}
