@import "../../css/reset.css";

.footer {
  position: relative;
}

.button {
  position: absolute;
  width: 648px;
  height: 58px;
  margin-top: 32px;
  margin-right: 100px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  right: -100px;
  cursor: pointer;
}

.buttonImg {
  margin-top: 32px;
}
