@import "../../css/reset.css";

.text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 24px;
  color: #414141;
}

.container {
  position: relative;
}

.input {
  width: 100%;
  height: 48px;
  border-radius: 15px;
  border: 1px solid #dddddd;
  padding-left: 20px;
}

.icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.inputError {
  width: 625px;
  height: 48px;
  border-radius: 15px;
  border: 1px solid #c41013;
  padding-left: 20px;
}

.errorMsg {
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  margin-top: 8px;
  color: #c41013;
}
@media (max-width: 720px) {
  .text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .input {
    width: 312px;
    height: 48px;
    box-sizing: border-box;
    font-size: 12px;
  }

  .errorMsg {
    font-size: 12px;
  }

  .inputError {
    width: 312px;
    height: 48px;
    border-radius: 15px;
    border: 1px solid #c41013;
    padding-left: 20px;
    box-sizing: border-box;
  }
}
