@import '../../css/reset.css';

.container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto 0 auto;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px;
}

@media (max-width: 1199px) {
  .container {
    width: 697px;
    margin: 36px auto;
    padding: 24px;
  }
}

@media (max-width: 720px) {
  .container {
    width: auto;
    margin: 52px 16px 0 16px;
    padding: 16px;
  }
}
