@import '../../css/reset.css';

.ListItems {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}

.ListItem {
  position: relative;
  cursor: pointer;
}

.ItemImg {
  width: 358px;
  height: 243px;
  border-radius: 10%;
}

.nameGreen {
  position: absolute;
  top: 0;
  color: #15c32f;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 40px;
  z-index: 100;
  pointer-events: none;
}

.nameYellow {
  position: absolute;
  top: 0;
  color: #f4ad08;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 40px;
  z-index: 100;
  pointer-events: none;
}

.nameBlue {
  position: absolute;
  top: 0;
  color: #3da8cf;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 40px;
  z-index: 100;
  pointer-events: none;
}

.namePink {
  position: absolute;
  top: 0;
  color: #db05e6f5;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 40px;
  z-index: 100;
  pointer-events: none;
}

.nameWhite {
  position: absolute;
  top: 0;
  color: #ffffff;
  text-shadow: -0.5px 0 #414141, 0 0.5px #414141, 0.5px 0 #414141,
    0 -0.5px #414141;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 40px;
  z-index: 100;
  pointer-events: none;
}

.studyNameText {
  position: absolute;
  width: 130px;
  top: 0;
  color: #ffffff;
  text-shadow: -0.5px 0 #414141, 0 0.5px #414141, 0.5px 0 #414141,
    0 -0.5px #414141;
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
  z-index: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.studyNameBlack {
  position: absolute;
  width: 130px;
  top: 0;
  color: #414141;
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
  z-index: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.icon {
  top: 0;
  position: absolute;
  transform: translate(250px, 33px);
  z-index: 1;
  pointer-events: none;
}

.pointWhite {
  position: absolute;
  top: 0;
  transform: translate(240px, 0px);
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 27px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 30px;
  pointer-events: none;
}

.pointBlack {
  position: absolute;
  top: 0;
  transform: translate(240px, 0px);
  color: #414141;
  font-size: 12px;
  font-weight: 500;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 27px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 30px;
  pointer-events: none;
}

.dataWhite {
  position: absolute;
  top: 0;
  transform: translate(42px, 30px);
  color: #ffffff;
  text-shadow: -0.5px 0 #414141, 0 0.5px #414141, 0.5px 0 #414141,
    0 -0.5px #414141;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  pointer-events: none;
}

.dataBlack {
  position: absolute;
  top: 0;
  transform: translate(42px, 30px);
  color: #414141;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  pointer-events: none;
}

.contentWhite {
  width: 275px;
  height: 60px;
  position: absolute;
  top: 0;
  transform: translate(45px, 80px);
  color: #ffffff;
  text-shadow: -1px 0 #414141, 0 0.8px #414141, 0.8px 0 #414141, 0 -1px #414141;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  line-height: 20px;
  pointer-events: none;
}

.contentBlack {
  width: 275px;
  height: 60px;
  position: absolute;
  top: 0;
  transform: translate(45px, 80px);
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  line-height: 20px;
  pointer-events: none;
}

.emojis {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 185px;
  left: 40px;
  pointer-events: none;
}

.emojiItem {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 7.5px 8px 5.5px 8px;
  color: #ffffff;
  border: none;
  margin-right: 5px;
}

.emoji {
  width: 15px;
  height: 15px;
  pointer-events: none;
}

.emojiCount {
  margin-left: 6px;
  margin-top: 1px;
  font-size: 12px;
  font-weight: 400;
  pointer-events: none;
}

.emojiItemAdd {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 8px 8px 7px 8px;
  color: #ffffff;
  border: none;
  font-size: 12px;
  font-weight: 400;
  pointer-events: none;
}

@media (max-width: 1199px) {
  .ListItems {
    overflow-x: scroll;
  }

  .contentBlack,
  .contentWhite {
    width: 290px;
    height: 80px;
    transform: translate(37px, 70px);
  }
}

@media (max-width: 720px) {
  .ItemImg {
    width: 240px;
    height: 180px;
    border-radius: 10%;
  }

  .icon {
    transform: translate(28px, 23px);
  }

  .pointWhite,
  .pointBlack {
    transform: translate(20px, -12px);
    font-size: 12px;
  }

  .nameGreen,
  .nameYellow,
  .nameBlue,
  .namePink,
  .nameWhite {
    margin-top: 47px;
    margin-left: 23px;
    font-size: 16px;
    font-weight: 700;
  }

  .studyNameText,
  .studyNameBlack {
    font-size: 16px;
    font-weight: 700;
  }

  .dataWhite,
  .dataBlack {
    transform: translate(22px, 30px);
    font-size: 10px;
    font-weight: 400;
    margin-top: 40px;
  }

  .contentBlack,
  .contentWhite {
    width: 180px;
    height: 40px;
    transform: translate(23px, 70px);
    font-size: 14px;
    font-weight: 400;
    margin-top: 18px;
  }

  .emojis {
    top: 140px;
    left: 25px;
  }
}
