@import '../css/reset.css';

.nav {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  max-width: 1920px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 220px;
  margin-right: 220px;
}

.navLogo {
  padding: 32px 0;
}

.mobileLogo,
.mobileBtn {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 24px;
  }
}

@media (max-width: 720px) {
  .navLogo,
  .navBtn {
    display: none;
  }

  .container {
    margin: 12px 16px 0 16px;
  }

  .mobileLogo,
  .mobileBtn {
    display: block;
  }
}
