@import '../css/reset.css';

.background {
  margin: 40px auto;
  width: 696px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 24px 24px 40px;
  box-sizing: border-box;
}

.header {
  font-size: 24px;
  font-weight: 800;
}
