.todaysFocus-Top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background-color: #ffffff;
}

.todaysFocus-Top-btnContainer {
  width: 242px;
  height: 48px;
  display: flex;
  gap: 16px;
}
.todaysFocus-Top-text {
  font-size: 2rem;
  font-weight: 800;
  line-height: 38px;
}
.todaysFocus-Top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;

  border-radius: 15px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  cursor: pointer;
}
.todaysFocus-Top-btn-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #818181;
}
.todaysFocus-Top-btn-arrow {
  width: 5px;
  height: 11px;
}

@media (max-width: 720px) {
  .todaysFocus-Top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 86px;
    background-color: #ffffff;
    gap: 8px;
  }
}
