@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 40px 24px;
  border-radius: 30px;
  text-align: center;
  width: 648px;
  height: 369px;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  margin-top: 40px;
  margin-left: 50px;
  position: relative;
}

.owner {
  font-size: 24px;
  font-weight: 800;
  color: #414141;
}

.close1 {
  font-size: 16px;
  font-weight: 500;
  color: #578246;
  left: auto;
  right: 24px;
  text-align: right;
  cursor: pointer;
  position: absolute;
}

.close2 {
  display: none;
}

.auth {
  margin-top: 28px;
  font-size: 18px;
  font-weight: 500;
  color: #818181;
  margin-bottom: 24px;
}

.pw {
  text-align: left;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #414141;
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordContainer input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 40px;
  border: 1px solid #ddd;
  border-radius: 15px;
  color: #414141;
  padding-right: 40px;
}

.modalContent input ::placeholder {
  color: #818181;
}

.passwordToggleIcon {
  position: absolute;
  right: 20px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 9px;
}

.modalContent button {
  width: 100%;
  height: 58px;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  background-color: #99c08e;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  font-family: "EF_jejudoldam", sans-serif;
}

.toastMessage {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fde0e9;
  color: #f50e0e;
  padding: 14px 28px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  z-index: 1000;
  display: flex;
  align-items: center;
}

@media (max-width: 720px) {
  .modalContent {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    height: auto;
  }

  .close1 {
    display: none;
  }

  .close2 {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #578246;
    text-align: center;
    position: static;
    left: 170px;
    cursor: pointer;
    margin-top: 14px;
  }
  .modalHeader {
    margin-left: 0;
  }
}
